# Ignore node_modules folder
node_modules/

# Ignore .env files
.env*

# Ignore macOS .DS_Store files
.DS_Store

# Ignore build/dist folders
build/
dist/

# Ignore Visual Studio Code specific files
.vscode/

# Ignore IntelliJ IDEA specific files
.idea/

# Ignore npm/yarn log files
npm-debug.log
yarn-error.log

# Ignore coverage reports
/coverage/